/*General Properties*/
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
h1 {
  text-align: center;
}
li {
  margin-top: 4px;
  float: left;
}
li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Navbar*/
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #807ef5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}
.container-addButtons{
  height: auto;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 50px;
  float: right;
  margin-right: 2%;
  margin-left: 10%;
  margin-top: 0.20%;
  margin-bottom: 0.20%;
}
.img-plusAdd {
  float: right; 
  height: auto;
  margin: 0;
  padding: 0;
  width: 9%;
  height: 50px;
  float: right;
  margin-left: 11%;
}
.txt-personnelAdd {
  color: rgb(0, 0, 0);
  text-decoration: none;
  float: right;
  margin-top: 7px;
  padding: 0;
}

/*The blocks of the personnel*/
.horizontal-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.person_block{
  height: auto;
  width: 11%;
  margin-top: 2.5%;
  margin-bottom: 2%;
  margin-left: 3%;
  box-shadow: -3px -5px 6px 0 rgba(0, 0, 0, .2);
  align-items: left;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 15px;
  min-width: 200.609px;
  max-width: 431.610px;
}

/*User form*/
.form-personnel {
  margin-left: 2%;
  margin-top: 2%;
}
/*Input fields*/
.input-city {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.input-postalcode {
  width: 24.7%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/*Submit button*/
.Submit-button {
  width: 135px;
  height: 60px;
  border: none;
  outline: none;
  background: #26272b;
  color: #fff;
  font-size: 22px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-left: 21.5%;
  margin-top: 0.5%;
}
.Submit-button:hover {
  color: #ededed;
  background-color: #000000;
}
.checklist-img {
  float: right;
  height: auto;
  width: 25%;
  position: absolute;
  margin-left: 60%;
  margin-top: -0.7%;
}

/* icons */
/*MoreInfoIcon*/
.fa.fa-info {
  float: right;
  color: #000000;
  font-size: 24px;
  margin-right: -7.25%;
  margin-top: 22%;
  cursor: pointer;
}
.fa.fa-info:hover {
  color: #858585;
}
/*EditIcon*/
.fa.fa-pencil {
  color: #007bff;
  font-size: 24px;
  margin-right: -10.5%;
  margin-top: 33%;
  float: right;
  cursor: pointer;
}
.fa.fa-pencil:hover {
  color: #3c95f4;
}
/*TrashIcon*/
.fa.fa-trash {
  float: right;
  color: #ff0000;
  font-size: 24px;
  margin-right: 5px;
  margin-top: 45%;
  cursor: pointer;
}
.fa.fa-trash:hover {
  color: #fb5d5d;
}

/*Modal*/
/*Modal Background*/
.modal-background {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-visible {
  display: block;
}
/*Modal Content*/
.modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/*Close Button*/
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*Edit button in modal*/
.edit-button-modal{
  border: none;
  color: #007bff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.edit-button-modal:hover{
  color: #3c95f4;
}
.fa.fa-pencil-square-o{
  position: absolute;
  margin-top: 0.4%;
  margin-left: 0.2%;
}
/*Delete button in modal*/
.delete-button-modal{
  border: none;
  color: #ff0000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.delete-button-modal:hover{
  color: #fb5d5d;
}
.fa.fa-trash-o{
  position: absolute;
  margin-top: 0.35%;
  margin-left: 0.2%;
}